<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!--    <link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <link href="/../../css/bootstrap.min.css" rel="stylesheet">-->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
    <title th:text="${title}">Safety_LOTO_ND</title>
</head>

<body>
<header th:insert="blocks/header :: header "></header>
<main>
    <div class="container col-xl-6 col-lg-8 col-sm-12">

        <form class="needs-validation was-validated" method="post" action="/workpermit/loto/regLOTO"
              enctype="multipart/form-data">

            <p class="h1 my-3 text-center">LOTO разрешение</p>

            <div class="mb-3 mt-3">
                <label for="secondFIOLabel" class="form-label">Укажите ФИО LOTO специалиста:</label>
                <input class="form-control" name="specialistFIO" list="secondDataListOptions"
                       id="secondFIOLabel" placeholder="Начните ввод для поиска..." required>
                <div class="invalid-feedback">Пожалуйста введите данные</div>
                <datalist id="secondDataListOptions">
                    <option th:each="el:${list}"
                            th:value="${el}"
                            th:text="${el}"
                    ></option>
                </datalist>
            </div>

<!--            <div class="mb-3 mt-3">-->
<!--                <label for="validationInput" class="form-label">Укажите ФИО LOTO специалиста:</label>-->
<!--                <input class="form-control " id="validationInput" placeholder="Петров Петр Петрович" required-->
<!--                       name="specialistFIO">-->
<!--                <div class="invalid-feedback">Пожалуйста введите данные</div>-->
<!--            </div>-->

            <div class="mb-3 mt-3">
                <label for="validationServer02" class="form-label">Укажите дату начала работ:</label>
                <input type="date" class="form-control" id="validationServer02" name="dataStart" required>
                <div class="invalid-feedback">
                    Необходимо указать дату
                </div>
            </div>

            <div>
                <label class="form-label">Комплексная блокировка?</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="validationFormCheck1" required
                           name="complexBlocking" value="1">
                    <label class="form-check-label" for="validationFormCheck1">ДА</label>
                </div>

                <div class="form-check mb-3">
                    <input type="radio" class="form-check-input" id="validationFormCheck2" required
                           name="complexBlocking" value="0">
                    <label class="form-check-label" for="validationFormCheck2">НЕТ</label>
                    <div class="invalid-feedback">Необходимо выбрать один вариант</div>
                </div>
            </div>

<!--            <div class="mb-3">-->
<!--                <label class="form-label ">Выберите участок проведения работ:</label>-->
<!--                <select class="form-select" required aria-label="select example" name="workSite">-->
<!--                    <option value="">Открыть выпадающее меню</option>-->
<!--                    <option value="Фасовка">Фасовка</option>-->
<!--                    <option value="ССиМ">ССиМ</option>-->
<!--                    <option value="3">ССиМ пост #2</option>-->
<!--                </select>-->
<!--                <div class="invalid-feedback">Необходимо выбрать участок</div>-->
<!--            </div>-->

            <div class="mb-3">
                <label for="validationServer04" class="form-label">Выберите участок проведения работ:</label>
                <select class="form-select" id="validationServer04" name="workSite" required>
                <option value="">Открыть выпадающее меню</option>
                <option th:each="el : ${workSites}"
                        th:value="${el.workSite}"
                        th:text="${el.id}+': '+${el.workSite}"
                ></option>
                </select>
                <div class="invalid-feedback">Необходимо выбрать участок</div>
            </div>

            <div class="mb-3">
                <label class="form-label ">Прекрепите фото титульного листа LOTO разрешения:</label>
                <input type="file" accept="image/*" class="form-control" aria-label="file example" name="file" required/>
                <div class="invalid-feedback">Необходимо приложить фото LOTO</div>
            </div>

            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Отправить в базу
            </button>

        </form>


    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
<!--    <script src="../static/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="js/bootstrap.bundle.min.js"></script>-->
<!--<script src="js/main.js"></script>-->

<!--<script th:src="@{/js/bootstrap.bundle.min.js}"></script>-->


</body>
</html>