<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h2 th:text="'LOTO ND зарегистрирован под номером '+${lotoND.id}"></h2>
<h3 th:text="'ФИО LOTO специалиста: '+${lotoND.specialistFIO}"></h3>
<h3 th:text="'Комплексная блокировка: '+${lotoND.complexBlocking}"></h3>
<h3 th:text="'участок проведения работ: '+${lotoND.workSite}"></h3>
<!--<h3 th:text="'участок проведения работ: '+${lotoND.workSite}"></h3>-->
<!--<span th:text="${lotoND.id}"></span><br>-->

<img src="sample.png" th:src="|cid:${lotoND.fotoName}|"/>
</body>
</html>